{% extends 'base.html' %}
{% load static %}

{% block content %}

  {#Vision starts#}
  <section class="sec py-5" style="background-color: #00A8E8;">
    <div class="container mt-3 mt-sm-5">
      <div class="card" style="max-height: 100%; background-color: #00A8E8;">
        <div class="row mt-5">
          <div class="col-lg-6 order-md-2 order-1">
            <div class="card-body font-large">
              <h2 class="text-white fw-bold pb-sm-3">Our Vision</h2><br>
              <p class="fw-bold text-blue-dark"><i class="fa-solid fa-medal text-warning"></i>&nbsp;&nbsp;We aim to be
                <span class="text-warning">the top choice</span> for organizations seeking unmatched
                recruitment
                solutions.</p>
              <p class="fw-bold text-blue-dark"><i class="fa-solid fa-circle-nodes text-warning"></i>&nbsp;&nbsp;<span
                  class="text-warning">Redefining the industry,</span> we consistently exceed expectations and foster
                lasting partnerships.</p>
              <p class="fw-bold text-blue-dark"><i class="fa-solid fa-circle-dollar-to-slot text-warning"></i>&nbsp;&nbsp;Our
                commitment is to drive <span class="text-warning">growth for clients,</span> setting new standards in
                recruitment excellence.</p>
            </div>
          </div>
          <div class="col-lg-6 order-md-1 order-2 text-center align-self-center pt-3 pt-sm-0 pb-4 pb-sm-0">
            <img src="{% static 'images/1a.jpg' %}" class="img-fluid rounded-5 image-xlarge" alt="...">
          </div>
        </div>
      </div>
    </div>
  </section>
  {#Vision ends#}

  {#Mission starts#}
  <section class="mb-5 sec py-sm-0 pt-5 pb-4">
    <div class="container reveal fade-bottom mt-5">
      <div class="card" style="max-height: 100%;">
        <div class="row align-items-center">
          <div class="col-lg-6 order-1 order-lg-2 text-center">
            <img src="{% static 'images/2a.jpg' %}" class="mt-4 image-xlarge img-fluid rounded-5" alt="...">
          </div>
          <div class="col-lg-6 order-lg-1 order-2 pt-4 pt-sm-0">
            <div class="card-body font-large">
              <h2 class="card-title text-blue fw-bold pb-4">Our Mission</h2>
              <p class="fw-bold text-blue-dark pt-1"><i class="fa-solid fa-users-viewfinder text-blue"></i>&nbsp;&nbsp;Our
                mission is to connect <span class="text-blue">exceptional talent</span> with forward-thinking
                organizations.</p>
              <p class="fw-bold text-blue-dark pt-1"><i class="fa-solid fa-bullseye text-blue"></i>&nbsp;&nbsp;We
                achieve this by employing <span class="text-blue">personalized strategies</span> and advanced assessment
                techniques.</p>
              <p class="fw-bold text-blue-dark pt-1"><i class="fa-solid fa-circle-check text-blue"></i>&nbsp;&nbsp;Our
                commitment to industry best practices ensures each hire contributes significantly to <span
                    class="text-blue">organizational
                success.</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {#Mission ends#}

  {#Values starts#}
  <section class="sec py-1 pb-5" style="background-color: #00A8E8;">
    <div class="container reveal fade-bottom mt-3 mt-sm-3">
      <div class="card pb-3" style="max-height: 100%; background-color: #00A8E8;">
        <div class="row mt-5">
          <div class="col-lg-6 order-2">
            <div class="card-body font-large">
              <h2 class="text-white fw-bold pb-sm-3">Our Values</h2><br>
              <p class="fw-bold text-blue-dark"><i class="fa-solid fa-star text-warning"></i>&nbsp; &nbsp;Rooted in
                core values, <span class="text-warning">we pursue excellence</span>, innovation, and client
                satisfaction.</p>
              <p class="fw-bold text-blue-dark"><i class="fa-solid fa-hand-holding-hand text-warning"></i>&nbsp;
                &nbsp;<span
                    class="text-warning">Success
                thrives on collaboration,</span> both internally and with clients, harnessing teamwork.</p>
              <p class="fw-bold text-blue-dark"><i class="fa-solid fa-gears text-warning"></i>&nbsp; &nbsp;Embracing
                adaptability, we stay ahead with <span class="text-warning">cutting-edge strategies</span> aligned with
                industry trends.</p>
              <a role="button" class="botao btn mt-3 btn-lg fw-bold text-white"
                 style="background-color: rgb(0, 52, 89)" href="{% url 'home' %}#why"><i
                  class="bi bi-chevron-right"></i>&nbsp;But Why Us?</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 text-center align-self-center pt-3 pt-sm-0 pb-4 pb-sm-0">
            <img src="{% static 'images/3a.jpg' %}" class="img-fluid rounded-5 image-xlarge" alt="...">
          </div>
        </div>
      </div>
    </div>
  </section>
  {#Values ends#}

{% endblock content %}
