{% extends 'base.html' %}

{% block content %}
  <section class="sec py-sm-5 pt-5 pb-4">
    <div class="container mt-5">
      {% for article in articles %}

        <div class="card mb-3" style="max-width: 100%;">
          <div class="row align-items-center">
            <div class="col-lg-6 align-self-center text-center">
              <img src="{{ article.image.url }}" style="max-height: 375px;" class="image-large img-fluid rounded"
                   alt="...">
            </div>
            <div class="col-lg-6">
              <div class="card-body align-items-center">
                <h4 class="card-title text-blue fw-bold pb-2">{{ article.name }}</h4>
                <p class="fw-bold text-blue-dark pt-1 font-large">{{ article.description }}</p>
                <a role="button" class="botao btn btn-lg mt-3 fw-bold text-white"
                   style="background-color: #00A8E8" href="{% url 'article' pk=article.id %}#reviews"><i
                    class="bi bi-chevron-right"></i>Read More</a>
              </div>
            </div>
          </div>
        </div>
        <hr class="my-5 pb-1">

      {% endfor %}
      <div class="ms-sm-5 mb-4">
        <input type="button" class="botao ms-sm-3 btn btn-lg align-self-center mt-4 fw-bold text-white"
               style="background-color: #00A8E8" onclick="history.back()"
               value="Go Back">
      </div>
    </div>
  </section>

{% endblock content %}
