{% extends 'base.html' %}

{% block content %}
  <section class="py-5 mt-5">
    <div class="container mb-5 mt-5">
      <div class="card mb-3 text-center" style="max-width: 100%;">
        <div class="row align-items-center">
          <div class="col-md align-self-start">
            <img src="{{ article.image.url }}" style="max-height: 550px; max-width: 550px" class=" img-fluid rounded"
                 alt="...">
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-md-9">
          <div class="card-body align-items-center">
            <h2 class="text-center mb-0 mb-sm-3 fw-bold text-blue mt-4">{{ article.name }}</h2>
            <p class="fw-bold text-blue-dark pt-1 lead">{{ article.body|linebreaksbr }}</p>
            <input type="button" class="botao btn btn-lg align-self-center mt-3 fw-bold text-white"
                   style="background-color: #00A8E8" onclick="history.back()"
                   value="Previous">
          </div>
        </div>

      </div>
    </div>
  </section>

{% endblock content %}
